<mat-card>
  <form (submit)="onAddDog(dogForm)" #dogForm="ngForm">
    <mat-form-field>
        <label> Dog Name</label>
      <input
        matInput
        type="text"
        name="Name"
        ngModel
        required
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
        <label>Dog Breed</label>
      <textarea
        matInput
        name="Breed"
        ngModel
        required
        #content="ngModel"></textarea>
    </mat-form-field>
    <mat-form-field>
        <label>Dog Colour</label>
      <textarea
        matInput
       rows="4"
        name="Colour"
        ngModel
        required
        #content="ngModel"></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Dog</button>
  </form>
</mat-card>


