<!-- <ul>
  <li *ngFor="let movie of MyMovies">
    <p>{{movie.Title}}</p>
    <p>{{movie.Year}}</p>
    <img src={{movie.Poster}}>
  </li>
</ul> -->
<mat-accordion *ngFor="let dog of MyDogs">
  <mat-expansion-panel [expanded]="true" >
  <mat-expansion-panel-header>
  <mat-panel-title>
  <h3> {{ dog.Name }} </h3>
  </mat-panel-title>
  <mat-panel-description>
  <h3>{{ dog.Breed  }}</h3>
  </mat-panel-description>
  </mat-expansion-panel-header>
  <h3>{{dog.Colour}}</h3>
  <mat-action-row>
  <button mat-button [routerLink]="['/edit', dog._id]" color="primary">EDIT</button>
  <button mat-button (click) = "onDelete(dog._id)" color="warn">DELETE</button>

  </mat-action-row>
  </mat-expansion-panel>
  </mat-accordion>