<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<mat-toolbar color="primary"> 
  <mat-toolbar-row>
          <span class="title-center">
      My Dog App 
  </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
 <button mat-button [routerLink]="['/home-page']" color="Warn">Home</button>
<button mat-button [routerLink]="['/create']" color="Warn">Add New Dog</button>
<button mat-button [routerLink]="['/read']"> View Dog </button>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>